@{
    ViewData["Title"] = "Home Page";


}

<h2 class="text-center">Vos dernières aventures</h2>
<div class="row">
    @foreach (var item in ViewBag.MonTableau)
    {
        <a href="#" class="card border m-2 text-center" style="width:8rem">
            <div class="card-body">
                contenu
            </div>
        </a>
    
}
    </div>
